<!--Head-->
{% extends 'base.html.j2' %}
{% from './_macros/_macro_input_form.html.j2' import render_field %}
{% block title %} {{ title }} {% endblock %}
<!--/end Head-->

<!--Content-->
{% block content %}

<div id="login_page">
	<div class="login_container">
		<div class="login_header blue_lgel">
			<ul class="login_branding">
				<li>
				<div class="logo_small">
					<!--<img src="{{ url_for('static',filename='images/logo-bingo.png') }}" width="99" height="35" alt="bingo">-->
          <h4>Login</h4>
				</div>
				<span>Inventory system</span>
				</li>
				<li class="right go_to"><a href="{{ url_for('index') }}" title="Go to Main Site" class="home">Go To Main Site</a></li>
			</ul>
		</div>

		<!--errors-->
		{% if form.errors %}
			<div class="login_invalid">
				{% for error in form.errors.username or form.errors.password %}
					<li><span class="icon"></span>{{ error }}</li>
				{% endfor %}
			</div>
		{% endif %}
		<!--/end errors-->

		<!--errors-->
		{{ flash_alerts() }}
		<!--/end errors-->
		
		<div class="block_container blue_d">
			<form action="#" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<div class="block_form">
					<ul>
						<li class="login_user">
						  {{ render_field(form.username) }}
						</li>
						<li class="login_pass">
							{{ render_field(form.password) }}
						</li>
					</ul>
					<input class="login_btn blue_lgel" name="" value="Login" type="submit">
				</div>
				<ul class="login_opt_link">
					<!--<li><a href="#">Forgot Password?</a></li>-->
          <li><a href="#">Sign up</a></li>
					<!--<li class="remember_me right">
					  <input name="" class="rem_me" type="checkbox" value="checked">
					Remember Me
          </li>-->
				</ul>
			</form>
		</div>
	</div>
</div>

<!--extra script-->
<script type="text/javascript">
$(function(){
	$(window).resize(function(){
		$('.login_container').css({
			position:'absolute',
			left: ($(window).width() - $('.login_container').outerWidth())/2,
			top: ($(window).height() - $('.login_container').outerHeight())/2
		});
	});
	// To initially run the function:
	$(window).resize();
});
</script>
<!--end extra script-->

{% endblock %}
<!--/end Content-->